
.sbRow
{
    display: flex;
    flex-flow: row nowrap;
}

.sbColumn
{
    display: flex;
    flex-flow: column nowrap;
}

.sbPanel
{
    flex-grow: 1;
}

.sbHorSplitter
{
    flex-grow: 0;
    background-color: #C0C0C0;
    min-height: 8px;
    min-width: 100%;
    cursor: row-resize;
}
	
.sbHorSplitter:hover
{
    background-color: #E0E0E0;
}

.sbVerSplitter
{
    flex-grow: 0;
    background-color: #C0C0C0;
    min-width: 8px;
    min-height: 100%;
    cursor: col-resize;
}

.sbVerSplitter:hover
{
    background-color: #E0E0E0;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}

.container
{
    flex-grow: 1;
    margin: 1em;
    border: 2px solid #808080;
}
